<?xml version="1.0"?>
<!--
/**
 * menu
 * @copyright Copyright © ${commentsYear} ${CommentsCompanyName}. All rights reserved.
 * @author    ${commentsUserEmail}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="${Vendorname}_${Modulename}::${entityname}" title="${Entityname}" module="${Vendorname}_${Modulename}" sortOrder="10" parent="Magento_Backend::content" action="${vendorname}_${modulename}/${entityname}" resource="${Vendorname}_${Modulename}::${entityname}"/>
    </menu>
</config>
