<?xml version="1.0"?>
<!--
/**
 * di
 * @copyright Copyright (c) ${generator.time.year} ${comments.company.name}
 * @author    ${comments.user.mail}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Ref${Modelname}GridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">${Vendorname}\${Modulename}\Model\ResourceModel\${Modelname}\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">RefGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="RefGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="${vendorname}_${modulename}_${modelname}_listing_data_source" xsi:type="string">${Vendorname}\${Modulename}\Model\ResourceModel\${Modelname}\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="${Vendorname}\${Modulename}\Model\ResourceModel\${Modelname}\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">${vendorname}_${modulename}_${modelname}</argument>
            <argument name="eventPrefix" xsi:type="string">${vendorname}_${modulename}_${modelname}_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">${vendorname}_${modulename}_${modelname}_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">${Vendorname}\${Modulename}\Model\ResourceModel\${Modelname}</argument>
        </arguments>
    </type>
</config>