<?xml version="1.0"?>
<!--
/**
 * routes
 * @copyright Copyright (c) ${generator.time.year} ${comments.company.name}
 * @author    ${comments.user.mail}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="${vendorname}_${modulename}" frontName="${vendorname}_${modulename}">
            <module name="${Vendorname}_${Modulename}" />
        </route>
    </router>
</config>
