#------------------------------------------------------------------------------------------
# Comments configuration
#------------------------------------------------------------------------------------------

comments.company.name = <company_name>
comments.user.mail = <user_email>